* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: white;
    line-height: 1.6;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #1e293b;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: white;
}

/* Sections */
section {
    padding: 60px 10%;
}

h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* Skills */
.skills-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    min-width: 250px;
}

/* Projects */
.project-card {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.project-card a {
    color: #38bdf8;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}